# Ignore compiled cpp code
out

# Ignore plot outputs
*.eps
*.txt

# Ignore pictures from face recognition task
basePictures
testPictures

# Ignore matlab and python scripts used for plotting
*.m
*.py
